<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="views/css/style.css">
  <script src="https://kit.fontawesome.com/a5faf288a0.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <title>Document</title>
</head>

<body>
  <section class="loginmodal">
    <div class="wrap">
      <div class="top">
        <button type="button" id="close" value="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <g>
                <g>
                  <path d="M0 0H24V24H0z" transform="translate(-316 -20) translate(316 20)"></path>
                  <g stroke="#000" stroke-width="2">
                    <path d="M16 0L0 16M0 0L16 16" transform="translate(-316 -20) translate(316 20) translate(4 4)">
                    </path>
                  </g>
                </g>
              </g>
            </g>
          </svg></button>
      </div>
      <div class="login_txt">
        <p>반가워요</p>
        <p>점핏에서 커리어점프해요!</p>
      </div>
      <class="login_form">
        <label for="email">이메일</label>
        <input type="text" name="email" id="email"> <br>
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password">
      </div>
        <button type="button" onclick="signin()">점핏 시작하기</button>
      <div class="login_check">
        <input type="checkbox" name="autologin" id="autologin">
        <label for="autologin">자동 로그인</label>
      </div>
    </div>
  </section>
  <script>
    // 로그인창, 회원가입창 js
    const loginbtn = document.querySelector('.login_btn');
    const logintab = document.querySelector('.loginBtns')

    const closebtn = document.querySelector('#close');
    const loginmodal = document.querySelector('.loginmodal');

    loginbtn.addEventListener('click', function (e) {
      e.preventDefault();
      loginmodal.classList.add('on');
    })
    closebtn.addEventListener('click', function (e) {
      e.preventDefault();
      loginmodal.classList.remove('on');
    })

    function signin(){
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      if(!email || !password){
        return alert('이메일과 비밀번호를 입력해주세요.')
      }

      const data = { email, password }

      axios.post('/users/signin', data).then((res) => {
        alert(res.data.message)
        window.location.href = '/'
      }).catch(err => {
        console.log(err);
      })

    }

  </script>
</body>

</html>