.qna .banner {
	background: url(../img/banner4.jpg) center/cover;
	height: 260px;
	margin: 0 auto;
	width: 100%;
}
.qna .qna_wrap {
	width: 100%;
	height: 400px;
	background-color: rgb(245, 245, 248);
}
.qna .qna_box {
	position: static;
	margin: 0px auto;
	width: 1060px;
}
.qna .qna_box .top_txt {
	top: 215px;
	position: absolute;
	width: 1060px;
	overflow-y: hidden;
}
.qna .qna_box .top_txt .top_txt_wrap {
	display: flex;
}
.qna .qna_box .top_txt .top_txt_wrap h2 {
	color: rgb(255, 255, 255);
	font-weight: 700;
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 12px;
}
.qna .qna_box .top_txt .btn {
	position: absolute;
	top: 0px;
	right: 8px;
}
.qna .qna_box .top_txt .btn button {
	background: none;
	border: none;
}
.qna .qna_box .top_txt .btn button svg {
	fill: white;
}
.qna .qna_box .qna_list {
	position: relative;
	display: block;
	top: -80px;
}
.qna .qna_box .qna_list .slider-wraps {
	height: 190px;
}
.qna .qna_box .qna_list .slider-wraps .popular_card {
	width: 320px;
	height: 190px;
	position: relative;
	background-color: rgb(255, 255, 255);
	border-radius: 12px;
	cursor: pointer;
	border: 1px solid #eee;
	margin-right: 15px;
}
.qna .qna_box .qna_list .slider-wraps .popular_card .popular_category {
	position: absolute;
	top: 20px;
	left: 24px;
	padding: 7px 16px;
	background-color: rgb(238, 241, 247);
	display: inline-block;
	border-radius: 300px;
	line-height: 22px;
	font-size: 14px;
	font-weight: 500;
}
.qna .qna_box .qna_list .slider-wraps .popular_card .popular_name {
	position: absolute;
	box-sizing: border-box;
	top: 68px;
	width: 100%;
	padding: 0px 24px;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: -0.5px;
	max-height: 54px;
}
.qna .qna_box .qna_list .slider-wraps .popular_card .popular_info {
	position: absolute;
	bottom: 0px;
	box-sizing: border-box;
	padding: 0px 24px;
	height: 48px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: -0.5px;
	border-top: 1px solid rgb(245, 245, 248);
}
.qna
	.qna_box
	.qna_list
	.slider-wraps
	.popular_card
	.popular_info
	.popular_info_writer {
	color: rgb(68, 68, 68);
}
.qna
	.qna_box
	.qna_list
	.slider-wraps
	.popular_card
	.popular_info
	.popular_info_count {
	display: flex;
	align-items: center;
	color: rgb(102, 102, 102);
}
.qna
	.qna_box
	.qna_list
	.slider-wraps
	.popular_card
	.popular_info
	.popular_info_count
	.popular_info_like {
	display: flex;
	align-items: center;
}
.qna
	.qna_box
	.qna_list
	.slider-wraps
	.popular_card
	.popular_info
	.popular_info_count
	.popular_info_like
	span {
	height: 16px;
}
.qna
	.qna_box
	.qna_list
	.slider-wraps
	.popular_card
	.popular_info
	.popular_info_count
	.popular_info_like
	span
	> svg {
	fill: white;
	background-color: white;
}
.qna .qna_content {
	background-color: rgb(245, 245, 248);
	padding: 8px 0px 156px;
}
.qna .qna_content .qna_content_wrap {
	width: 1060px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.qna .qna_content .qna_content_wrap .wrap_left .qna_left_box {
	position: relative;
	width: 240px;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 36px;
}
.qna .qna_content .qna_content_wrap .wrap_left .qna_left_box .left_top {
	padding: 24px 24px 20px;
	border-bottom: 1px solid rgb(242, 242, 245);
	position: relative;
}
.qna .qna_content .qna_content_wrap .wrap_left .qna_left_box .left_top button {
	padding: 0px 28px;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	height: 48px;
	border-radius: 8px;
	background-color: #022667;
	width: 100%;
	min-width: 100%;
	border: none;
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_left
	.qna_left_box
	.left_top
	button
	a {
	padding: 0px 28px;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	height: 48px;
	border-radius: 8px;
	color: white;
	width: 100%;
	min-width: 100%;
	border: none;
}
.qna .qna_content .qna_content_wrap .wrap_left .qna_left_box .left_bottom {
	padding: 14px 0px;
}
.qna .qna_content .qna_content_wrap .wrap_left .qna_left_box .left_bottom li {
	position: relative;
	padding: 10px 24px;
	font-size: 15px;
	line-height: 24px;
	color: rgb(0, 0, 0);
	cursor: pointer;
}
.qna .qna_content .qna_content_wrap .wrap_right {
	position: relative;
	width: 780px;
}
.qna .qna_content .qna_content_wrap .wrap_right .content_tab {
	display: flex;
}
.qna .qna_content .qna_content_wrap .wrap_right .content_tab li {
	padding: 0px 19px 0px 0px;
	position: relative;
	cursor: pointer;
	color: rgb(0, 0, 0);
}
.qna .qna_content .qna_content_wrap .wrap_right .content_tab .on {
	font-weight: 700;
}
.qna .qna_content .qna_content_wrap .wrap_right .content_txtbox {
	background-color: rgb(255, 255, 255);
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 36px;
	margin: 16px 0px 0px;
}
.qna .qna_content .qna_content_wrap .wrap_right .content_txtbox .txtbox_txt {
	width: 100%;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	padding: 0px 24px;
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_category {
	padding: 24px 0px 0px;
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_category
	span {
	display: inline-block;
	padding: 7px 16px;
	background-color: rgb(238, 241, 247);
	border-radius: 300px;
	line-height: 22px;
	font-size: 14px;
	font-weight: 500;
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_name {
	width: 100%;
	padding: 12px 0px 0px;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: -0.5px;
	max-height: 54px;
	overflow-wrap: break-word;
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_contents {
	width: 100%;
	max-height: 54px;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: -0.5px;
	padding: 4px 0px 0px;
	overflow-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_info {
	position: relative;
	box-sizing: border-box;
	padding: 12px 0px 24px;
	height: 48px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: -0.5px;
	border-bottom: 1px solid rgb(228, 228, 228);
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_info
	.popular_info_writer {
	position: relative;
	color: rgb(68, 68, 68);
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_info
	.popular_info_writer
	span {
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: -0.5px;
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_info
	.popular_info_count {
	display: flex;
	align-items: center;
	color: rgb(102, 102, 102);
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_info
	.popular_info_count
	.popular_info_like {
	display: flex;
	align-items: center;
	margin: 0px 14px 0px 0px;
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_info
	.popular_info_count
	.popular_info_like
	span {
	height: 16px;
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_info
	.popular_info_count
	.popular_info_comment {
	display: flex;
	align-items: center;
}
.qna
	.qna_content
	.qna_content_wrap
	.wrap_right
	.content_txtbox
	.txtbox_txt
	.popular_info
	.popular_info_count
	.popular_info_comment
	span {
	height: 16px;
}
