@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@400&family=Sigmar&display=swap");
@import url(reset.css);
@import url(write.css);
@import url(qna.css);
@import url(404.css);
@import url(answer.css);
@import url(profile.css);

#header {
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #bbb;
}
#header .wrap {
	max-width: 1060px;
	margin: 0 auto;
}
#header .wrap .top_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
}
#header .wrap .top_box h1 a {
	color: rgb(0, 0, 0);
}
#header .wrap .top_box h1 a img {
	width: 160px;
	height: 70px;
}
#header .wrap .top_box .search_box {
	position: relative;
	z-index: 2;
	width: 480px;
	height: 40px;
	padding: 0px 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 50px;
	border: 1.5px solid #6495ed;
}
#header .wrap .top_box .search_box input {
	width: 100%;
	padding: 0px 40px;
	height: 40px;
	border: none;
	position: absolute;
	right: 0;
	background-color: transparent;
}
#header .wrap .top_box .search_box .search_button {
	position: absolute;
	left: 16px;
	top: 10px;
	border: none;
	background: none;
	cursor: pointer;
}
#header .wrap .bottom_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
}
#header .wrap .bottom_box .nav_tab {
	display: flex;
	margin-left: -20px;
}
#header .wrap .bottom_box .nav_tab li {
	position: relative;
	padding: 0px 20px;
}
#header .wrap .bottom_box .nav_tab li a {
	cursor: pointer;
	display: inline-block;
	padding: 10px 4px;
	font: 400 16px/24px "Noto Sans KR", sans-serif;
	letter-spacing: -0.5px;
	transition: all 0.5s;
}
#header .wrap .bottom_box .nav_tab li a:hover {
	border-bottom: 2px solid #111;
	padding-bottom: 5px;
	transition: all 0.5s;
}
#header .wrap .bottom_box .login_tab {
	display: flex;
	margin-right: -12px;
}
#header .wrap .bottom_box .login_tab li {
	position: relative;
	padding: 0px 12px;
}
#header .wrap .bottom_box .login_tab li > button {
	display: inline-block;
	position: relative;
	padding: 10px 0px;
	font: 15px/24px "Noto Sans KR", sans-serif;
	color: rgb(34, 34, 34);
	border: none;
	background: none;
	cursor: pointer;
}
#header .wrap .bottom_box .login_tab li:nth-of-type(1)::after {
	content: "";
	position: absolute;
	top: 21px;
	right: -3px;
	width: 3px;
	height: 3px;
	border-radius: 50px;
	background-color: rgb(198, 217, 217);
}

.loginmodal {
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
.loginmodal .wrap {
	min-width: 360px;
	max-width: 700px;
	margin: 0 auto;
	border: 1px solid #bbb;
	height: 500px;
	padding: 40px 30px;
	position: fixed;
	z-index: 999;
	inset: 80px;
	background-color: rgb(255, 255, 255);
}
.loginmodal .wrap .top {
	width: 100%;
	height: 64px;
	position: relative;
}
.loginmodal .wrap .top #close {
	position: absolute;
	top: 20px;
	z-index: 2;
	right: 20px;
	border: none;
	background: none;
	cursor: pointer;
}
.loginmodal .wrap .login_txt p {
	font: 25px/1.4 "Noto Sans KR", sans-serif;
}
.loginmodal .wrap .login_txt p:nth-of-type(2) {
	font-weight: bold;
	margin-bottom: 30px;
}
.loginmodal .wrap .login_form label {
	display: block;
	margin-bottom: 10px;
}
.loginmodal .wrap .login_form #email {
	width: 100%;
	height: 40px;
	border: 1px solid #bbb;
	border-radius: 4px;
	margin-bottom: 20px;
}
.loginmodal .wrap > button {
	width: 100%;
	height: 50px;
	background-color: black;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 4px;
	margin-bottom: 20px;
}
.loginmodal .wrap > button:hover {
	background-color: rgb(39, 39, 39);
}
.loginmodal .wrap .login_check {
	position: relative;
}
.loginmodal .wrap .login_check #autologin {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.loginmodal .wrap .login_check label[for="autologin"] {
	font: 16px/20px "Noto Sans KR", sans-serif;
	position: absolute;
	top: 0;
}
.loginmodal .on {
	display: block;
}

.signModal {
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
.signModal .wrap {
	min-width: 360px;
	max-width: 700px;
	margin: 0 auto;
	border: 1px solid #bbb;
	height: 900px;
	padding: 40px 30px;
	position: fixed;
	z-index: 999;
	inset: 80px;
	background-color: rgb(255, 255, 255);
}
.signModal .wrap > .top {
	width: 100%;
	height: 64px;
	position: relative;
}
.signModal .wrap > .top > #closebtn {
	position: absolute;
	top: 20px;
	z-index: 2;
	right: 0px;
	border: none;
	background: none;
	cursor: pointer;
}
.signModal .wrap .sign_txt p {
	font: bold 25px/1 "Noto Sans KR", sans-serif;
	margin-bottom: 10px;
}
.signModal .wrap .sign_form {
	margin-top: 30px;
}
.signModal .wrap .sign_form label {
	display: block;
	margin-bottom: 10px;
	position: relative;
}
.signModal .wrap .sign_form label[for="email"]::after {
	content: "";
	display: block;
	background-color: red;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	position: absolute;
	top: 8px;
	left: 45px;
}
.signModal .wrap .sign_form input {
	width: 100%;
	height: 45px;
	border: 1px solid #bbb;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 0px 10px;
}
.signModal .wrap .sign_form .emailform {
	display: flex;
	height: 45px;
	margin-bottom: 20px;
}
.signModal .wrap .sign_form .emailform #email {
	width: 87%;
	margin-right: 5px;
}
.signModal .wrap .sign_form .emailform > button {
	width: 13%;
	height: 45px;
	background-color: rgb(255, 255, 255);
	color: black;
	border: 1px solid #bbb;
	margin: 0;
}
.signModal .wrap .sign_form .nameform label[for="username"]::after {
	content: "";
	display: block;
	background-color: red;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	position: absolute;
	top: 8px;
	left: 32px;
}
.signModal .wrap .sign_form .pwform {
	margin-bottom: 20px;
}
.signModal .wrap .sign_form .pwform label[for="pw"]::after {
	content: "";
	display: block;
	background-color: red;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	position: absolute;
	top: 8px;
	left: 60px;
}
.signModal .wrap .sign_check {
	position: relative;
}
.signModal .wrap .sign_check input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	display: inline-block;
}
.signModal .wrap .sign_check label[for="autocheck"] {
	vertical-align: top;
	line-height: 20px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 15px;
}
.signModal .wrap .sign_check label[for="check"] {
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
}
.signModal .wrap .sign_check label[for="check"] span {
	margin-left: 5px;
	color: red;
}
.signModal .wrap .sign_check .autocheckbox::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: rgb(215, 215, 215);
}
.signModal .wrap .sign_check .checklist {
	margin-top: 15px;
	margin-bottom: 30px;
}
.signModal .wrap > button {
	width: 100%;
	height: 50px;
	background-color: rgb(92, 92, 92);
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 30px;
}
.signModal .wrap > button:hover {
	background-color: rgb(39, 39, 39);
}
.signModal .on {
	display: block;
}

.on {
	display: block;
}

.slide_section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 40px auto 0px;
	width: 1060px;
}
.slide_section .left_content {
	width: 700px;
	height: 260px;
}
.slide_section .left_content .slider-wrap {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: 1px solid #bbb;
	transition: all 1s ease-in;
}
.slide_section .left_content .slider-wrap .cont img {
	width: 100%;
	height: 260px;
	z-index: 0;
}
.slide_section .left_content .slider-wrap .cont .txt {
	transform: translateX(0);
	opacity: 0;
}

.slider-wrap .slick-active .txt {
	animation-name: fadeInRight;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.slide_section .left_content .slider-wrap .cont .txt p {
	color: rgb(255, 255, 255);
	position: absolute;
	font: 28px/45px "Noto Sans KR", sans-serif;
	bottom: 110px;
	max-width: 600px;
	z-index: 5;
	padding: 0px 20px;
	animation-delay: 1s;
}
@keyframes fadeInRight {
	0% {
		transform: translateX(-50px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
.slide_section .left_content .slider-wrap button {
	background: white;
	border: 1px solid black;
	border-radius: 50px;
}
.slide_section .left_content .slider-wrap .slick-prev {
	position: absolute;
	bottom: 40px;
	left: 50px;
	width: 40px;
	height: 40px;
	z-index: 10;
}
.slide_section .left_content .slider-wrap .slick-next {
	position: absolute;
	bottom: 40px;
	left: 110px;
	width: 40px;
	height: 40px;
	z-index: 10;
}
.slide_section .right_content {
	width: 340px;
}
.slide_section .right_content .login_box {
	height: 168px;
	border: 1px solid rgb(228, 228, 228);
	background-color: rgb(250, 250, 250);
	padding: 32px 20px 20px;
	border-radius: 4px;
}
.slide_section .right_content .login_box p {
	font-size: 16px;
	color: rbg(34, 34, 34);
	margin-bottom: 5px;
}
.slide_section .right_content .login_box .login_button {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.slide_section .right_content .login_box .login_button .login_btn {
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 4px;
	font: 15px/46px "Noto Sans KR", sans-serif;
	height: 48px;
	width: 100%;
	margin-top: 10px;
	transition: 0.5s;
}
.slide_section .right_content .login_box .login_button .login_btn:hover {
	background-color: rgb(63, 63, 63);
	transition: 0.5s;
}
.slide_section .right_content .notice_box {
	padding: 10px 20px 26px;
	border: 1px solid rgb(228, 228, 228);
	margin-top: 10px;
	height: 83px;
	width: 100%;
	border-radius: 4px;
}
.slide_section .right_content .notice_box h1 {
	color: rgb(0, 221, 109);
	font-size: 13px;
	font-family: Montserrat, serif;
}
.slide_section .right_content .notice_box .notice_list {
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}
.slide_section .right_content .notice_box .notice_list span:nth-of-type(1) {
	color: rgb(34, 34, 34);
	cursor: pointer;
	width: 80%;
	font-size: 14px;
}
.slide_section .right_content .notice_box .notice_list span:nth-of-type(2) {
	font-size: 14px;
	color: rgb(153, 153, 153);
}
.slide_section .right_content .notice_box .notice_list span:hover {
	text-decoration: underline;
}
.youtube {
	max-width: 1080px;
	margin: 100px auto 0px;
}
.youtube .wrap {
	width: 100%;
}
.youtube .wrap p {
	font: bold 20px/1 "Noto sans KR", sans-serif;
	margin-bottom: 30px;
}

.youtube .wrap .playlist {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}

.youtube .wrap .playlist article {
	width: 350px;
	padding: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	/* border-bottom: 1px solid #ddd; */
	/* background-color: #d8d7ca8c; */
	border: 1px solid black;
	filter: opacity(0.5);
	transition: all 0.5s;
	cursor: pointer;
}
.youtube .wrap .playlist article:hover {
	filter: opacity(1);
}
.youtube .wrap .playlist article::after {
	content: "";
	display: block;
	clear: both;
}
.youtube .wrap .playlist article h2 {
	font: 18px/1 "Noto sans KR", sans-serif;
	margin-bottom: 20px;
	color: #111;
}
.youtube .wrap .playlist article .txt {
	margin-top: 30px;
}
.youtube .wrap .playlist article .txt p {
	font: 14px/1.2 "" Noto Sans KR ", sans-serif";
	color: #666;
	margin-bottom: 40px;
}
.youtube .wrap .playlist article .txt span {
	font: 12px/1 "" Noto Sans KR ", sans-serif";
	color: black;
}
.youtube .wrap .playlist article .pic {
	height: 180px;
}
.youtube .wrap .playlist article .pic img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.youtube .wrap .playlist article a img {
	width: 100%;
	object-fit: cover;
	filter: grayscale(40%);
}
.youtube .wrap .playlist article .con {
	width: 450px;
	height: 120px;
	position: absolute;
	bottom: 2%;
	background: #fff;
	margin-bottom: 10px;
}
.youtube .wrap .playlist article .con::after {
	content: "";
	display: block;
	clear: both;
}
.youtube.wrap .playlist article .con h2 {
	font: 27px/1 "Noto sans KR", sans-serif;
	margin-bottom: 25px;
	letter-spacing: 3px;
	color: #525252;
	display: block;
	margin: 36px 0;
}
.youtube.wrap .playlist article .con p {
	display: none;
}
.youtube.wrap .playlist article .con span {
	font: 15px/1 "Noto sans KR", sans-serif;
	letter-spacing: 1px;
}
.youtube .wrap .playlist article:hover a img {
	transition: 0.5s;
	filter: grayscale(0);
}
aside {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
	display: block;
	box-sizing: border-box;
	padding: 80px;
}
aside iframe {
	width: 90%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
aside span {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	cursor: pointer;
}

.job_content {
	max-width: 1080px;
	margin: 100px auto 0px;
}
.job_content .job_content_list {
	display: flex;
	margin-bottom: 6px;
	justify-content: space-between;
}
.job_content .job_content_list h1 {
	line-height: 40px;
	font-size: 18px;
}
.job_content .job_content_list .links {
	margin-left: auto;
	margin-right: 10px;
	margin-top: 8px;
	text-decoration: underline;
}
.job_content .job_content_list .links a {
	line-height: 24px;
	letter-spacing: -0.5px;
	color: rgb(136, 136, 136);
}
.job_content .job_content_box_wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.job_content .job_content_box_wrap .job_content_box {
	position: relative;
	padding: 10px;
	max-width: 270px;
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.img_box {
	width: 100%;
	height: 166px;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.img_box
	img {
	width: 250px;
	height: 166px;
	-o-object-fit: cover;
	object-fit: cover;
	transition: all 0.3s ease 0s;
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.img_box
	img:hover {
	transform: scale(1.5);
	filter: grayscale(10);
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.content_txt {
	padding: 12px 0px 36px;
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.content_txt
	p {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.5px;
	color: rgb(68, 68, 68);
	white-space: nowrap;
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.content_txt
	h4 {
	margin-top: 6px;
	font-size: 17px;
	line-height: 1.4em;
	letter-spacing: -0.5px;
	font-weight: 500;
	overflow: hidden;
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.content_txt
	.langs {
	display: flex;
	margin-top: 8px;
	color: rgb(153, 153, 153);
	height: 18px;
	font-family: Montserrat, "Noto Sans KR";
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.content_txt
	.langs
	li {
	margin-right: 5px;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.5px;
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.content_txt
	.location {
	display: flex;
	font-size: 13px;
	color: rgb(153, 153, 153);
	margin-top: 4px;
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.content_txt
	.location
	li {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.5px;
}
.job_content
	.job_content_box_wrap
	.job_content_box
	.job_content_box_list
	a
	.content_txt
	.location
	li:nth-of-type(1) {
	max-width: 58%;
	overflow: hidden;
}

.loginmodal {
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
.loginmodal .wrap {
	min-width: 360px;
	max-width: 700px;
	margin: 0 auto;
	border: 1px solid #bbb;
	height: 500px;
	padding: 40px 30px;
	position: fixed;
	z-index: 999;
	inset: 80px;
	background-color: rgb(255, 255, 255);
}
.loginmodal .wrap .top {
	width: 100%;
	height: 64px;
	position: relative;
}
.loginmodal .wrap .top #close {
	position: absolute;
	top: 20px;
	z-index: 2;
	right: 20px;
	border: none;
	background: none;
	cursor: pointer;
}
.loginmodal .wrap .login_txt p {
	font: 25px/1.4 "Noto Sans KR", sans-serif;
}
.loginmodal .wrap .login_txt p:nth-of-type(2) {
	font-weight: bold;
	margin-bottom: 30px;
}
.loginmodal .wrap .login_form label {
	display: block;
	margin-bottom: 10px;
}
.loginmodal .wrap .login_form #email {
	width: 100%;
	height: 40px;
	border: 1px solid #bbb;
	border-radius: 4px;
	margin-bottom: 20px;
}
.loginmodal .wrap > button {
	width: 100%;
	height: 50px;
	background-color: black;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 4px;
	margin-bottom: 20px;
}
.loginmodal .wrap > button:hover {
	background-color: rgb(39, 39, 39);
}
.loginmodal .wrap .login_check {
	position: relative;
}
.loginmodal .wrap .login_check #autologin {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.loginmodal .wrap .login_check label[for="autologin"] {
	font: 16px/20px "Noto Sans KR", sans-serif;
	position: absolute;
	top: 0;
}
.loginmodal .on {
	display: block;
}

.signModal {
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
.signModal .wrap {
	min-width: 360px;
	max-width: 700px;
	margin: 0 auto;
	border: 1px solid #bbb;
	height: 900px;
	padding: 40px 30px;
	position: fixed;
	z-index: 999;
	inset: 80px;
	background-color: rgb(255, 255, 255);
}
.signModal .wrap > .top {
	width: 100%;
	height: 64px;
	position: relative;
}
.signModal .wrap > .top > #closebtn {
	position: absolute;
	top: 20px;
	z-index: 2;
	right: 0px;
	border: none;
	background: none;
	cursor: pointer;
}
.signModal .wrap .sign_txt p {
	font: bold 25px/1 "Noto Sans KR", sans-serif;
	margin-bottom: 10px;
}
.signModal .wrap .sign_form {
	margin-top: 30px;
}
.signModal .wrap .sign_form label {
	display: block;
	margin-bottom: 10px;
	position: relative;
}
.signModal .wrap .sign_form label[for="email"]::after {
	content: "";
	display: block;
	background-color: red;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	position: absolute;
	top: 8px;
	left: 45px;
}
.signModal .wrap .sign_form input {
	width: 100%;
	height: 45px;
	border: 1px solid #bbb;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 0px 10px;
}
.signModal .wrap .sign_form .emailform {
	display: flex;
	height: 45px;
	margin-bottom: 20px;
}
.signModal .wrap .sign_form .emailform #email {
	width: 87%;
	margin-right: 5px;
}
.signModal .wrap .sign_form .emailform > button {
	width: 13%;
	height: 45px;
	background-color: rgb(255, 255, 255);
	color: black;
	border: 1px solid #bbb;
	margin: 0;
}
.signModal .wrap .sign_form .nameform label[for="username"]::after {
	content: "";
	display: block;
	background-color: red;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	position: absolute;
	top: 8px;
	left: 32px;
}
.signModal .wrap .sign_form .pwform {
	margin-bottom: 20px;
}
.signModal .wrap .sign_form .pwform label[for="pw"]::after {
	content: "";
	display: block;
	background-color: red;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	position: absolute;
	top: 8px;
	left: 60px;
}
.signModal .wrap .sign_check {
	position: relative;
}
.signModal .wrap .sign_check input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	display: inline-block;
}
.signModal .wrap .sign_check label[for="autocheck"] {
	vertical-align: top;
	line-height: 20px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 15px;
}
.signModal .wrap .sign_check label[for="check"] {
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
}
.signModal .wrap .sign_check label[for="check"] span {
	margin-left: 5px;
	color: red;
}
.signModal .wrap .sign_check .autocheckbox::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: rgb(215, 215, 215);
}
.signModal .wrap .sign_check .checklist {
	margin-top: 15px;
	margin-bottom: 30px;
}
.signModal .wrap > button {
	width: 100%;
	height: 50px;
	background-color: rgb(92, 92, 92);
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 30px;
}
.signModal .wrap > button:hover {
	background-color: rgb(39, 39, 39);
}
.signModal .on {
	display: block;
}

#footer {
	background-color: rgb(251, 251, 251);
	padding: 40px 0px 30px;
}
#footer .inner {
	max-width: 1060px;
	position: relative;
	margin: 0px auto;
	padding: 24px 0px 60px;
	text-align: left;
}
#footer .inner .logo {
	position: absolute;
	left: -65px;
	top: 24px;
}
#footer .inner .logo a img {
	width: 120px;
	height: 50px;
}
#footer .inner .logo path {
	fill: rgb(229, 229, 229);
}
#footer .inner .contents {
	display: flex;
	padding-left: 92px;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
#footer .inner .contents .links_wrap {
	display: flex;
	width: 250px;
}
#footer .inner .contents .links_wrap .links li {
	display: inline-block;
	margin-bottom: 8px;
}
#footer .inner .contents .links_wrap .links li a {
	display: inline-block;
	font-size: 14px;
	color: rgb(68, 68, 68);
	line-height: 24px;
	letter-spacing: -0.5px;
}
#footer .inner .contents .links_wrap .links li:nth-child(2n + 1) {
	width: 140px;
}
#footer .inner .contents .info {
	display: inline-block;
	font-size: 13px;
	color: rgb(136, 136, 136);
	line-height: 20px;
	letter-spacing: -0.5px;
	margin-right: 135px;
}
#footer .inner .contents .info dd {
	padding-bottom: 16px;
}

#popup {
	width: 500px;
	height: 500px;
	padding: 40px;
	box-sizing: border-box;
	color: #fff;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-40%, -50%);
	background: url(../img/nudge.jpg) center/cover;
}
#popup .content {
	width: 100%;
	min-height: 420px;
}
#popup .content p {
	font: bold 17px/1 "Noto Sans KR", sans-serif;
}
#popup::after {
	content: "";
	display: block;
	clear: both;
}
#popup .wrap {
	float: left;
}
#popup .wrap label {
	font: bold 12px/1 "Noto Sans KR", sans-serif;
	color: black;
	margin-left: 4px;
}
#popup .close {
	float: right;
	font: 14px/1 "" Noto Sans KR ", sans-serif";
	color: black;
}

.on {
	display: block;
}

.pop {
	z-index: 11;
}
.reply_header span {
	margin-right: 10px;
}
.reply_header .txt1::after {
	content: "";
	display: inline-block;
	background-color: #111;
	width: 1px;
	height: 13px;
	margin-left: 5px;
}

.reply_btn span {
	margin-right: 10px;
}
.reply_btn a {
	cursor: pointer;
	background-color: #fff;
	font: bold 14px/10px "Noto Sans KR";
	padding: 4px;
	border: 1px solid#bbb;
	border-radius: 4px;
}

.reply_btn button {
	background-color: #fff;
	margin-left: 5px;
	padding: 3px;
	font: bold 14px/20px "Noto Sans KR";
	border-radius: 4px;
}

.top-list-area {
	width: 490px;
}
.top-list-area .view-top {
	width: 240px;
	background-color: white;
}
.top-list-area .view-top h4 {
	font: bold 15px/1 "Noto Sans KR";
}
.top-list-area .like-top {
	width: 240px;
	background-color: white;
}

.top-list-area .search_list {
	position: absolute;
	right: 0;
	display: flex;
	top: 39px;
	display: none;
	z-index: 10;
}
.top-list-area .search_list .on {
	opacity: 1;
}

.hidden {
	opacity: 0;
}
.show {
	opacity: 1;
}

.clicked {
	font-weight: bold;
}

.map {
	max-width: 1060px;
	margin: 30px auto;
}

#map:hover {
	filter: opacity(1);
	transition: all 0.5s;
}

#map {
	filter: opacity(0.5);
	transition: all 0.5s;
}

.map p {
	font: bold 18px/1 "Noto Sans KR";
	margin-bottom: 20px;
}

@media screen and (max-width: 999px) {
	#header {
		width: 100%;
		padding: 0px 20px;
	}
	#header .wrap {
		max-width: 100%;
	}

	#header .wrap .top_box .search_box {
		width: 380px;
		height: 40px;
	}

	.slide_section {
		width: 100%;
	}
	.slide_section .left_content {
		width: 100%;
		margin-bottom: 20px;
	}

	.slide_section .right_content {
		width: 100%;
		display: flex;
	}
	.slide_section .right_content .login_box {
		width: 1000px;
		margin-right: 20px;
	}

	.slide_section .right_content .notice_box {
		margin-top: 0px;
		height: 168px;
	}

	.youtube {
		max-width: 100%;
		margin: 100px auto 0px;
	}
	.youtube .wrap {
		width: 100%;
		padding: 0px 20px;
	}
	.youtube .wrap p {
		font: bold 24px/1 "Noto sans KR", sans-serif;
		margin-bottom: 30px;
	}

	.youtube .wrap .playlist {
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.youtube .wrap .playlist article {
		flex-grow: 2;
	}

	.job_content {
		max-width: 100%;
		margin: 80px auto 0px;
	}
	.job_content .job_content_list {
		padding: 0px 20px;
	}

	.job_content .job_content_box_wrap {
		padding: 0px 20px;
	}
	.job_content .job_content_box_wrap .job_content_box {
		max-width: 100%;
		width: 50%;
	}

	.job_content
		.job_content_box_wrap
		.job_content_box
		.job_content_box_list
		a
		.img_box
		img {
		width: 100%;
	}
	.map {
		padding: 0px 20px;
	}
	.map #map {
		width: 100%;
	}

	#footer {
		padding: 40px 55px 30px;
	}
	#footer .inner {
		max-width: 100%;
		padding: 36px 0px 60px;
	}
	#footer .inner .logo {
		position: absolute;
		left: -7px;
		top: -25px;
	}

	#footer .inner .contents {
		padding-left: 0;
		flex-direction: column-reverse;
	}
	#footer .inner .contents .links_wrap {
		display: flex;
		width: 100%;
	}
	#footer .inner .contents .links_wrap .links li {
		width: 118px;
	}

	#footer .inner .contents .links_wrap .links li:nth-child(2n + 1) {
		width: 118px;
	}
	#footer .inner .contents .info {
		margin-right: 0px;
	}
}

@media screen and (max-width: 639px) {
	#header {
		height: 200px;
	}
	#header .wrap .top_box .search_box {
		width: 100%;
		height: 40px;
	}
	#header .wrap .top_box {
		height: 125px;
		flex-direction: column;
	}

	.slide_section .right_content {
		width: 100%;
		display: block;
	}
	.slide_section .right_content .login_box {
		width: 100%;
		margin-right: 0px;
	}

	.slide_section .right_content .notice_box {
		margin-top: 30px;
		width: 100%;
	}

	.job_content .job_content_box_wrap .job_content_box {
		width: 100%;
	}

	#footer {
		padding: 40px 55px 30px;
	}
	#footer .inner {
		max-width: 100%;
	}

	#footer .inner .contents {
		padding-left: 0;
		flex-direction: column-reverse;
	}
	#footer .inner .contents .info {
		margin-right: 10px;
	}
	#footer .inner .contents .links_wrap .links li {
		width: 134px;
	}

	#footer .inner .contents .links_wrap .links li:nth-child(2n + 1) {
		width: 134px;
	}

	.signModal {
		width: 100%;
		background: rgba(0, 0, 0, 0.6);
		display: none;
	}
	.signModal .wrap {
		min-width: 480px;
		max-width: 700px;
		height: 800px;
		padding: 40px 30px;
		inset: 30px;
	}

	.on {
		display: block;
	}
}

@media screen and (max-width: 999px) {
	form {
		width: 100%;
		padding: 60px 40px;
	}
	form .wrap {
		width: 100%;
	}

	form .wrap .tit {
		font: bold 20px/1 "Noto Sans KR", sans-serif;
		text-align: center;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 999px) {
	.qna {
		width: 100%;
	}
	.qna .qna_wrap {
		width: 100%;
	}
	.qna .qna_wrap {
		width: 100%;
		height: 400px;
		background-color: rgb(245, 245, 248);
	}
	.qna .qna_box {
		position: static;
		margin: 0px auto;
		width: 100%;
	}
	.qna .qna_box .top_txt {
		top: 215px;
		position: absolute;
		width: 100%;
		overflow-y: hidden;
	}
	.qna .qna_box .top_txt .top_txt_wrap {
		padding: 20px;
	}

	.qna .qna_box .top_txt .btn {
		position: absolute;
		top: 0px;
		right: 8px;
	}

	.qna .qna_box .qna_list .slider-wraps .popular_card {
		margin-right: 15px;
		margin-left: 15px;
	}

	.qna .qna_content {
		background-color: rgb(245, 245, 248);
		padding: 8px 0px 156px;
	}
	.qna .qna_content .qna_content_wrap {
		width: 100%;
		flex-direction: column;
		padding: 0px 30px;
	}
	.qna .qna_content .qna_content_wrap .wrap_left .qna_left_box {
		width: 100%;
		margin-bottom: 50px;
		margin-top: 20px;
	}

	.qna .qna_content .qna_content_wrap .wrap_right {
		position: relative;
		width: 100%;
	}
	.qna .qna_content .qna_content_wrap .wrap_right .content_tab {
		display: flex;
	}
	.qna .qna_content .qna_content_wrap .wrap_right .content_tab li {
		padding: 0px 19px 0px 0px;
		position: relative;
		cursor: pointer;
		color: rgb(0, 0, 0);
	}
	.qna .qna_content .qna_content_wrap .wrap_right .content_tab .on {
		font-weight: 700;
	}
	.qna .qna_content .qna_content_wrap .wrap_right .content_txtbox {
		background-color: rgb(255, 255, 255);
		border-radius: 12px;
		box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 36px;
		margin: 16px 0px 0px;
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt {
		width: 100%;
		box-sizing: border-box;
		position: relative;
		cursor: pointer;
		padding: 0px 24px;
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_category {
		padding: 24px 0px 0px;
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_category
		span {
		display: inline-block;
		padding: 7px 16px;
		background-color: rgb(238, 241, 247);
		border-radius: 300px;
		line-height: 22px;
		font-size: 14px;
		font-weight: 500;
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_name {
		width: 100%;
		padding: 12px 0px 0px;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: -0.5px;
		max-height: 54px;
		overflow-wrap: break-word;
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_contents {
		width: 100%;
		max-height: 54px;
		font-size: 15px;
		line-height: 24px;
		letter-spacing: -0.5px;
		padding: 4px 0px 0px;
		overflow-wrap: break-word;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_info {
		position: relative;
		box-sizing: border-box;
		padding: 12px 0px 24px;
		height: 48px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: -0.5px;
		border-bottom: 1px solid rgb(228, 228, 228);
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_info
		.popular_info_writer {
		position: relative;
		color: rgb(68, 68, 68);
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_info
		.popular_info_writer
		span {
		position: relative;
		display: inline-block;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: -0.5px;
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_info
		.popular_info_count {
		display: flex;
		align-items: center;
		color: rgb(102, 102, 102);
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_info
		.popular_info_count
		.popular_info_like {
		display: flex;
		align-items: center;
		margin: 0px 14px 0px 0px;
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_info
		.popular_info_count
		.popular_info_like
		span {
		height: 16px;
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_info
		.popular_info_count
		.popular_info_comment {
		display: flex;
		align-items: center;
	}
	.qna
		.qna_content
		.qna_content_wrap
		.wrap_right
		.content_txtbox
		.txtbox_txt
		.popular_info
		.popular_info_count
		.popular_info_comment
		span {
		height: 16px;
	}
}

@media screen and (max-width: 999px) {
	.profileform {
		max-width: 100%;
	}

	.profileform .profile_wrap > form {
		background-color: white;
		z-index: 0;
		width: 100%;
		height: 601px;
		margin: 0 auto;
		max-width: 100%;
		padding: 40px;
	}

	.profileform .profile_wrap form .profile {
		width: 100%;
		padding: 55px 0;
		border-bottom: 1px solid #333;
	}
}

@media screen and (max-width: 639px) {
	.profileform {
		max-width: 100%;
	}

	.profileform .profile_wrap > form {
		background-color: white;
		z-index: 0;
		width: 100%;
		height: 601px;
		margin: 0 auto;
		max-width: 100%;
		padding: 40px;
	}

	.profileform .profile_wrap form .profile {
		width: 100%;
		height: 650px;
		padding: 55px 0;
		border-bottom: 1px solid #333;
	}

	.profilerow {
		display: flex;
	}

	.profilerows {
		border-bottom: 1px solid #333;
		padding-bottom: 34px;
		display: flex;
	}
	.profileform
		.profile_wrap
		form
		.profile
		.profilerows
		input[type="checkbox"] {
		height: 40px;
	}
}

@media screen and (max-width: 999px) {
	.answer .answer_box {
		width: 100%;
	}
}
