form {
	width: 100%;
	height: 880px;
	background-color: rgb(245, 245, 248);
	padding: 60px 0px 0px;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
}
form .wrap {
	width: 800px;
	margin: 0px auto 80px;
	background-color: rgb(255, 255, 255);
	border-radius: 12px;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 36px;
	padding: 30px;
}

form .wrap .tit {
	font: bold 20px/1 "Noto Sans KR", sans-serif;
	text-align: center;
}
form .wrap .category {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}
form .wrap .category label {
	font: bold 15px/1 "Noto Sans KR", sans-serif;
	margin-right: 10px;
	margin-left: 5px;
}

[type="radio"] {
	vertical-align: middle;
	appearance: none;
	border: max(2px, 0.1em) solid gray;
	border-radius: 50%;
	width: 1.25em;
	height: 1.25em;
	transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
	border: 0.4em solid tomato;
}

[type="radio"]:focus-visible {
	outline-offset: max(2px, 0.1em);
	outline: max(2px, 0.1em) dotted tomato;
}

[type="radio"]:hover {
	box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
	cursor: pointer;
}

form .wrap .txt_box {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

form .wrap .txt_box input[name="title"] {
	margin-bottom: 10px;
	width: 100%;
	height: 35px;
}
form .wrap .txt_box textarea {
	margin-bottom: 20px;
	width: 100%;
	height: 350px;
}

form .wrap .txt_box button {
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	font: bold 16px/1 "Noto Sans KR", sans-serif;
}
